.recentQuestion-list {
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    
    justify-content: flex-start;
    width: 100%;
}

.recentQuestion-list * {
    color: #000;
}

.recentQuestion-list li:nth-child(1){
    font-size: calc( 0.7vw + 1rem);
    min-width: 200px;
    max-width: 1650px;
    width: 100%;
    margin: 1rem 0;
    box-shadow: none;
    background: none;
}

.recentQuestion-list li {
    display: flex;
    flex-flow: row wrap;
    min-width: 125px;
    max-width: 250px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    margin: 0.5rem;
    /* border-radius: 0.5rem; */
    background-color: #fff;
    text-align: left;
}

.recentQuestion-list li p strong{
    margin-right:0.25rem;
}
.recentQuestion-list li p {
    margin: 0.5rem 1rem;
    text-align: left;
    min-width: 200px;
    text-transform: capitalize;
    display: flex;
}

.recentQuestion-list li p.recentQuestion-askedby {
    width: 100%;
    text-align: right;
    justify-content: flex-end;
    text-transform: lowercase;
    font-style: italic;
    color: #666;
}